---
Language: Cpp
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100
AlignAfterOpenBracket: Align
AlignArrayOfStructures: None
AlignOperands: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 999999999
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Allman
BreakBeforeBinaryOperators: None
BreakBeforeConceptDeclarations: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: false
CompactNamespaces: false
EmptyLineAfterAccessModifier: Always
EmptyLineBeforeAccessModifier: Always
AccessModifierOffset: -4
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: Indent
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
IndentRequires: false
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: Signature
NamespaceIndentation: All
PPIndentWidth: -1
PackConstructorInitializers: BinPack
QualifierAlignment: Right
ReferenceAlignment: Pointer
PointerAlignment: Left
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: false
SpacesInLineCommentPrefix:
    Minimum: 1
    Maximum: -1
MaxEmptyLinesToKeep: 3
SpaceBeforeCtorInitializerColon: false